*{
    box-sizing: border-box;
}
@font-face{
    font-family: 'ChineseRock';
    src: url(asset/chinese\ rocks\ rg.otf);
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
.registrasi{
    display: flex;
    height: 100vh;
}
.input {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 40px;
}
h2 {
    font-family: 'ChineseRock';
    color: #fff;
    text-align: center;
    font-size: 33px;
}
span{
    color: #CF0000;
}
form{
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input::placeholder{
    font-family: 'ChineseRock';
}
.isi {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: white;
    border: none;
    font-family: inherit;
    font-size: 25px;
}

.tombol {   
    width: 20%;
    padding: 8px;
    margin: 20px 0 15px;
    background: #840000;
    border: 3px solid #CF0000;
    color: white;
    cursor: pointer;
    font-family: 'ChineseRock';
    font-size: 25px;
    display: block;
    text-align: center;
}
.balik-login {
    font-family: 'ChineseRock';
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    display: block;
}
.gambar{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gambar img{
    width: 90%;
    object-fit: cover;
}